// .para1 {
//     color: #231d1d;
//     font-family: sans-serif;
//     font-size: 16px;
// }
// .para2 {
//     color: darkgray;
// }
section {
    border: 1px solid lightpink;
    margin-bottom: 10px;
    padding: 12px;
    box-shadow: 0px 0px 8px 0px pink;
    border-radius: 7px;
}

p{
    margin: 0 0 0px;
}