<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="position: absolute;">
      <ion-button (click)="goBack()">
        <ion-icon mode="ios" name="arrow-back" style="color: black;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">First Shedule -Layout Plan</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
 
<section style="padding: 10px !important;">
  <div class="divClass">
  <p class="para1"></p>
  <small>Unit Booked</small>
</div>
<div class="divClass">
  <p class="para2"></p>
  <small>Bumi Lot</small>
</div>
</section>
<h4>2 STORY SEMI-DETACHED HOUSE , 2 STORY CLUSTER HOUSFE,PRECINCT C (FASA 1) </h4>

<section class="ion-padding sec1" (click)="gotoPage('book')">
<div>
  <p></p>
  <p></p>

</div>
<div>
  <p></p>
  <p></p>

</div>
<div>
  <p></p>
  <p></p>

</div>
<div>
  <p></p>
  <p></p>

</div>
<div>
  <p></p>
  <p></p>

</div>
<div>
  <p></p>
  <p></p>

</div>
<div>
  <p></p>
  <p></p>

</div>
<div>
  <p></p>
  <p></p>

</div>
<strong>
  Rezab Jalan 12.129m
</strong>
<div>
  <p></p>
  <p></p>

</div>
<div>
  <p></p>
  <p></p>

</div>
<div>
  <p></p>
  <p></p>

</div>
<div>
  <p></p>
  <p></p>

</div>
<div>
  <p></p>
  <p></p>

</div>
<div>
  <p></p>
  <p></p>

</div>
<div>
  <p></p>
  <p></p>

</div>
<div>
  <p></p>
  <p></p>

</div>
</section>

<section class="ion-padding sec1" (click)="gotoPage('book')">
  <div>
    <p></p>
    <p></p>
  
  </div>
  <div>
    <p></p>
    <p></p>
  
  </div>
  <div>
    <p></p>
    <p></p>
  
  </div>
  <div>
    <p></p>
    <p></p>
  
  </div>
  <div>
    <p></p>
    <p></p>
  
  </div>
  <div>
    <p></p>
    <p></p>
  
  </div>
  <div>
    <p></p>
    <p></p>
  
  </div>
  <div>
    <p></p>
    <p></p>
  
  </div>
  <strong>
    Rezab Jalan 12.129m
  </strong>
  <div>
    <p></p>
    <p></p>
  
  </div>

  <div>
    <p></p>
    <p></p>
  
  </div>
  <div>
    <p></p>
    <p></p>
  
  </div>
  <div>
    <p></p>
    <p></p>
  
  </div>
  <div>
    <p></p>
    <p></p>
  
  </div>
  </section>

  <h5>FASA 2</h5>
  <section class="ion-padding sec1" (click)="gotoPage('book')">
    <div>
      <p></p>
      <p></p>

    </div>
    <div>
      <p></p>
      <p></p>

    </div>
    <div>
      <p></p>
      <p></p>

    </div>
    <div>
      <p></p>
      <p></p>

    </div>
    <div>
      <p></p>
      <p></p>

    </div>
    <div>
      <p></p>
      <p></p>

    </div>
    <div>
      <p></p>
      <p></p>

    </div>
    <div>
      <p></p>
      <p></p>

    </div>
    <strong>
      Rezab Jalan 12.129m
    </strong>
    <div>
      <p style="background: green;">PTD 200554</p>
      <p style="background: green;">PTD 200560</p>

    </div>
    <div>
      <p style="background: green;">PTD 200555</p>
      <p style="background: green;">PTD 200560</p>

    </div>
    <div>
      <p>PTD 200556</p>
      <p style="background: green;"> PTD 200560</p>

    </div>
    <div>
      <p>PTD 200557</p>
      <p>PTD 200560</p>

    </div>
    <div>
      <p>PTD 200558</p>
      <p>PTD 200560</p>

    </div>
    <div>
      <p>PTD 200559</p>
      <p>PTD 200560</p>

    </div>
    <div>
      <p  style="background: skyblue;" >PTD 200559</p>
      <p>PTD 200560</p>

    </div>
    <div>
      <p style="background: green;">PTD 200559</p>
      <p>PTD 200560</p>

    </div>
    <div>
      <p style="background: green;">PTD 200559</p>
      <p style="background: green;">PTD 200560</p>

    </div>
    <div>
      <p>PTD 200559</p>
      <p style="background: green;">PTD 200560</p>

    </div>
  </section>
  <h5>FASA 1</h5>
  <section class="ion-padding sec1" (click)="gotoPage('book')">
    <div>
      <p></p>
      <p></p>

    </div>
    <div>
      <p></p>
      <p></p>

    </div>
    <div>
      <p></p>
      <p></p>

    </div>
    <div>
      <p></p>
      <p></p>

    </div>
    <div>
      <p></p>
      <p></p>

    </div>
    <div>
      <p></p>
      <p></p>
    </div>
    <div>
      <p></p>
      <p></p>

    </div>
    <div>
      <p></p>
      <p></p>

    </div>
    <strong>
      Rezab Jalan 12.129m
    </strong>
    <div>
      <p  style="background: skyblue;">PTD 200554</p>
      <p style="background: green;">PTD 200560</p>

    </div>
    <div>
      <p >PTD 200555</p>
      <p style="background: green;">PTD 200560</p>

    </div>
    <div>
      <p style="background: green;">PTD 200556</p>
      <p style="background: green;"> PTD 200560</p>

    </div>
    <div>
      <p style="background: green;">PTD 200557</p>
      <p>PTD 200560</p>

    </div>
    <div>
      <p >PTD 200558</p>
      <p style="background: green;">PTD 200560</p>

    </div>
    <div>
      <p>PTD 200559</p>
      <p style="background: green;">PTD 200560</p>

    </div>
    <div>
      <p  style="background: green;" >PTD 200559</p>
      <p>PTD 200560</p>

    </div>
    <div>
      <p>PTD 200559</p>
      <p>PTD 200560</p>

    </div>
    <div style="background: skyblue;">
      <p>PTD 200559</p>
      <p>PTD 200560</p>

    </div>
    <div>
      <p >PTD 200559</p>
      <p style="background: green;">PTD 200560</p>

    </div>
  </section>
  <h5>Rezab Jalan 12.129m 12.129m</h5>
  <section class="ion-padding sec1" (click)="gotoPage('book')">
    <div>
      <p style="background: green;"> PTD 200662</p>
      <p  style="background: green;">PTD 200697</p>

    </div>
    <div>
      <p  style="background: green;">PTD 200663</p>
      <p>PTD 200696</p>

    </div>
    <div>
      <p  style="background: green;">PTD 200663</p>
      <p>PTD 200695</p>

    </div>
    <div>
      <p  style="background: green;">PTD 200664</p>
      <p>PTD 200694</p>

    </div>
    <div>
      <p> PTD 200665</p>
      <p>PTD 200693</p>

    </div>
    <div>
      <p> PTD 200666</p>
      <p  style="background: green;">PTD 200693</p>

    </div>
    <div>
      <p> PTD 200667</p>
      <p  style="background: green;">PTD 200693</p>

    </div>
    <div>
      <p> PTD 200668</p>
      <p  style="background: green;">PTD 200692</p>

    </div>
   
    <strong>
      Rezab Jalan 12.129m
    </strong>
    <div>
      <p  style="background: skyblue;">PTD 200554</p>
      <p style="background: green;">PTD 200560</p>

    </div>
    <div>
      <p >PTD 200555</p>
      <p style="background: green;">PTD 200560</p>

    </div>
    <div>
      <p style="background: green;">PTD 200556</p>
      <p style="background: green;"> PTD 200560</p>

    </div>
    <div>
      <p style="background: green;">PTD 200557</p>
      <p>PTD 200560</p>

    </div>
    <div>
      <p >PTD 200558</p>
      <p style="background: green;">PTD 200560</p>

    </div>
    <div>
      <p>PTD 200559</p>
      <p style="background: green;">PTD 200560</p>

    </div>
    <div>
      <p  style="background: green;" >PTD 200559</p>
      <p>PTD 200560</p>

    </div>
    <div>
      <p>PTD 200559</p>
      <p>PTD 200560</p>

    </div>
    <div style="background: skyblue;">
      <p>PTD 200559</p>
      <p>PTD 200560</p>

    </div>
    <div>
      <p >PTD 200559</p>
      <p style="background: green;">PTD 200560</p>

    </div>
  </section>
  <section class="ion-padding sec1" (click)="gotoPage('book')" style="display: flex;justify-content: center;">
    <div>
      <p style="background: skyblue;"> PTD 200662</p>
      <!-- <p  style="background: green;">PTD 200697</p> -->

    </div>
    <div>
      <p  style="background: green;">PTD 200663</p>
      <!-- <p>PTD 200696</p> -->

    </div>
    <div>
      <p  style="background: green;">PTD 200663</p>
      <!-- <p>PTD 200695</p> -->

    </div>
    <div>
      <p  style="background: green;">PTD 200664</p>
      <!-- <p>PTD 200694</p> -->

    </div>
    <div>
      <p> PTD 200665</p>
      <!-- <p>PTD 200693</p> -->

    </div>
    <div>
      <p> PTD 200666</p>
      <!-- <p  style="background: green;">PTD 200693</p> -->

    </div>
    <div>
      <p> PTD 200667</p>
      <!-- <p  style="background: green;">PTD 200693</p> -->

    </div>
    <div>
      <p> PTD 200668</p>
      <!-- <p  style="background: green;">PTD 200692</p> -->

    </div>
  </section>

</ion-content>
