<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="position: absolute;">
      <ion-button (click)="goBack()">
        <ion-icon mode="ios" name="arrow-back" style="color: black;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 >Plan Details</h3>
<ion-card style="overflow-x:auto;">

  <!-- <table>
    <tr>
      <th>User Id</th>
      <th>Name</th>
      <th>Mobile</th>
      <th>Property</th>
      <th>Status</th>

    </tr>
    <tr>
      <td>ID438943</td>
      <td>John Doe</td>
      <td>84584538</td>
      <td>Nil</td>
      <td>Active</td>

    </tr>
</table> -->
<table>
  <tr>
    <th>User Id</th>
    <th>Name</th>
    <th>Mobile</th>
    <th>Property</th>
    <th>Status</th>
  </tr>
  <tr>
      <td>ID438943</td>
      <td>John Doe</td>
      <td>84584538</td>
      <td>Nil</td>
      <td style="color: green;">Active</td>
  </tr>

</table>


</ion-card>
</ion-content>
