<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="position: absolute;">
      <ion-button (click)="goBack()" style="--background: white i !important; ">
        <ion-icon mode="ios" name="arrow-back" style="color: black;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">New Deal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<h3>Lead Information</h3>
<ion-item>
	<ion-label position="floating" style="color: #d85ca7;"> Name</ion-label>
	<ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label style="color: #d85ca7;">Organization</ion-label>
  <ion-select placeholder="Select One">
    <ion-select-option value="f">nil</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label style="color: #d85ca7;">Lead Status</ion-label>
  <ion-select placeholder="Select One">
    <ion-select-option value="f">Open Contacted</ion-select-option>
    <ion-select-option value="m">Open non contacted</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
	<ion-label position="floating" style="color: #d85ca7;"> Title</ion-label>
	<ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label style="color: #d85ca7;">User Responsible</ion-label>
  <ion-select placeholder="Select One">
    <ion-select-option value="f">John Doe</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
	<ion-label position="floating" style="color: #d85ca7;"> User Ratings</ion-label>
	<ion-input></ion-input>
</ion-item>

<h3>Additional Information</h3>
<ion-item>
	<ion-label position="floating" style="color: #d85ca7;"> Email</ion-label>
	<ion-input></ion-input>
</ion-item>
<ion-item>
	<ion-label position="floating" style="color: #d85ca7;"> Phone</ion-label>
	<ion-input></ion-input>
</ion-item>
<ion-item>
	<ion-label position="floating" style="color: #d85ca7;"> Mobile No:</ion-label>
	<ion-input></ion-input>
</ion-item>
<ion-item>
	<ion-label position="floating" style="color: #d85ca7;"> Fax</ion-label>
	<ion-input></ion-input>
</ion-item>
<ion-item>
	<ion-label position="floating" style="color: #d85ca7;"> Website</ion-label>
	<ion-input></ion-input>
</ion-item>
<ion-item>
	<ion-label position="floating" style="color: #d85ca7;"> Industry</ion-label>
	<ion-input></ion-input>
</ion-item>
<ion-item>
	<ion-label position="floating" style="color: #d85ca7;"> No.of.Employees</ion-label>
	<ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label style="color: #d85ca7;">Lead Source</ion-label>
  <ion-select placeholder="Select One">
    <ion-select-option value="f">Web</ion-select-option>
    <ion-select-option value="f">Phone Enquiry</ion-select-option>
    <ion-select-option value="f">Partner Referral</ion-select-option>
    <ion-select-option value="f">Others</ion-select-option>

  </ion-select>
</ion-item>
<h3>Address Information</h3>
<ion-item>
	<ion-label position="floating" style="color: #d85ca7;"> Address</ion-label>
	<ion-textarea></ion-textarea>
</ion-item>
<ion-item>
	<ion-label position="floating" style="color: #d85ca7;"> City</ion-label>
	<ion-input></ion-input>
</ion-item>
<ion-item>
	<ion-label position="floating" style="color: #d85ca7;"> State</ion-label>
	<ion-input></ion-input>
</ion-item>
<ion-item>
	<ion-label position="floating" style="color: #d85ca7;"> Postal Code</ion-label>
	<ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label style="color: #d85ca7;">Country</ion-label>
  <ion-select placeholder="Select One">
    <ion-select-option value="f">India</ion-select-option>
    <ion-select-option value="f">Malaysia</ion-select-option>
    <ion-select-option value="f">Aus</ion-select-option>
    <ion-select-option value="f">Others</ion-select-option>

  </ion-select>
</ion-item>
<h3>Description Information</h3>
<ion-item>
	<ion-label position="floating" style="color: #d85ca7;"> Decription</ion-label>
	<ion-textarea></ion-textarea>
</ion-item>
<h3>Tag Information</h3>
<ion-item>
	<ion-label position="floating" style="color: #d85ca7;"> Tag List</ion-label>
	<ion-input></ion-input>
</ion-item>
<h3>Permission</h3>
<ion-item>
  <ion-label style="color: #d85ca7;">Permission</ion-label>
  <ion-select placeholder="Select One">
    <ion-select-option value="f">Task Visibility</ion-select-option>
    <ion-select-option value="f">Private Task</ion-select-option>
  

  </ion-select>
</ion-item>


<ion-button expand="block" (click)="gotoPage('/home')">Save</ion-button>

</ion-content>
