<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="position: absolute;">
      <ion-button (click)="goBack()">
        <ion-icon mode="ios" name="arrow-back" style="color: black;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Premier Plus property</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<section class="sec1">
<img src="assets/img/system-user.png">
<div class="divClass">
  <h4>John Doe</h4>
  <p>User</p>
  
</div>
</section>
<!-- <div>
<h3>Premier Plus property SDN BHD</h3>
</div> -->
<ion-row>
  <ion-card>
<strong>Total Salary</strong>
<ion-label>RM 1,101.07 </ion-label>

  </ion-card>
  <ion-card>
    <strong>Completed Case </strong>
  <ion-label> (2,24,189.70)
  </ion-label>
  </ion-card>
  <ion-card>
    <strong>Commision Paid </strong>
    <ion-label>370000</ion-label>
    
      </ion-card>
      <ion-card>
        <strong>CP Bank</strong>
      <ion-label>44,8800</ion-label>
      </ion-card>
      <ion-card>
        <strong>Commision</strong>
        <ion-label>7,22.89</ion-label>
        
          </ion-card>
          <ion-card>
            <strong>Potential Receivable</strong>
          <ion-label>8,650.87</ion-label>
          </ion-card>
          <ion-card>
            <strong>Balance</strong>
            <ion-label>15,738.09</ion-label>
            
              </ion-card>
              <ion-card>
                <strong>Total</strong>
              <ion-label>3,000.00</ion-label>
              </ion-card>
</ion-row>
  <!-- <ion-card>
  <table>
    <tr>
      <th>User Id</th>
      <th>Name</th>
      <th>Mobile</th>
      <th>Property</th>
      <th>Status</th>
    </tr>
    <tr>
        <td>ID454554</td>
        <td>Chrlie</td>
        <td>6878989</td>
        <td>Nil</td>
        <td style="color: green;" >Active</td>
    </tr>
    <tr>
      <td>ID436656</td>
      <td>Kevin</td>
      <td>9909098</td>
      <td>Nil</td>
      <td style="color: red;">Inactive</td>
  </tr>
  <tr>
    <td>ID438943</td>
    <td>John Doe</td>
    <td>84584538</td>
    <td>Nil</td>
    <td style="color: green;">Active</td>
  </tr>
  
  </table>
</ion-card> -->
</ion-content>
