  <ion-toolbar>
    <ion-buttons slot="start" style="position: absolute;">
      <ion-button (click)="goBack()">
        <ion-icon  mode="ios" name="arrow-back" style="color: black !important;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>



<ion-content class="ion-padding">
	<br><br><br>
	<div class="headCss">
	<h3>Reset Password</h3>
	<p>Access to our dashboard</p>
	</div>
<div class="loginCss">
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

<ion-item>
	<ion-label position="floating" style="color: #d85ca7;"><ion-icon name="mail"></ion-icon>Email</ion-label>
    <ion-input formControlName="email"></ion-input>
</ion-item>

<ion-item>
	<ion-label position="floating" style="color: #d85ca7;"><ion-icon name="eye-off"></ion-icon> New Password</ion-label>
	<ion-input formControlName="password" type="password"></ion-input>
</ion-item>

<ion-item>
	<ion-label position="floating" style="color: #d85ca7;"><ion-icon name="eye-off"></ion-icon> Confirm Password</ion-label>
	<ion-input formControlName="conform_password" type="password"></ion-input>
</ion-item>

<br>
<ion-button expand="block" type="submit">Reset Password</ion-button>
</form>
</div>
</ion-content>
