<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="position: absolute;">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline" style="color: black;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Property Show</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img
        src="https://sg1-cdn.pgimgs.com/developer-listing/4307058/OUPHO.126065612.V800/Suria-2-The-Botany-Kota-Tinggi-Malaysia.jpg">
    </ion-slide>
    <ion-slide>
      <img
        src="https://sg2-cdn.pgimgs.com/developer-listing/4307058/OUPHO.126065611.V800/Suria-2-The-Botany-Kota-Tinggi-Malaysia.jpg">
    </ion-slide>
    <ion-slide>
      <img
        src="https://sg1-cdn.pgimgs.com/developer-listing/4307058/OUPHO.110933510.V800/Suria-2-The-Botany-Kota-Tinggi-Malaysia.jpg">
    </ion-slide>
  </ion-slides>
  <section class="ion-padding">
    <div>
      <p class="para1">Sales Price Range</p>
    </div>
    <div>
      <span class="inline-block">
        <span class="element-label symbol-unit">RM</span>
        <span class="element-label price">464,100</span>
        ~ &nbsp;
        <span class="inline-block">
          <span class="element-label symbol-unit">RM</span>
          <span class="element-label price">707,000</span>
        </span>
      </span>
    </div>
    <div class="price-overview-row">
      <div class="property-info-element location-info">
        <div class="listing-title text-transform-none">Suria 2@The Botany</div>
        <div class="listing-address-areainsider">
          <div class="listing-address">
            <span itemprop="streetAddress">Persiaran Sebana Utama, Sebana Cove, Pengerang, Kota Tinggi, 81600,
              Johor</span>
          </div>
        </div>
      </div>
    </div>
    <div id="details" class="link-target listing-detail-block" data-id="4307058">

      <div class="listing-details-primary">
        <h3 class="title-block">Details</h3>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="property-attr " itemprop="additionalProperty" itemscope=""
              itemtype="http://schema.org/PropertyValue">
              <div class="label-block" itemprop="name">Project Name</div>
              <div class="value-block" itemprop="value">Suria 2@The Botany</div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="property-attr " itemprop="additionalProperty" itemscope=""
              itemtype="http://schema.org/PropertyValue">
              <div class="label-block" itemprop="name">project type</div>
              <div class="value-block" itemprop="value">Terraced House/SuperLink</div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="property-attr " itemprop="additionalProperty" itemscope=""
              itemtype="http://schema.org/PropertyValue">
              <div class="label-block" itemprop="name">Developer</div>
              <div class="value-block" itemprop="value">Cypress Potential Sdn Bhd</div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="property-attr " itemprop="additionalProperty" itemscope=""
              itemtype="http://schema.org/PropertyValue">
              <div class="label-block" itemprop="name">Tenure</div>
              <div class="value-block" itemprop="value">Leasehold</div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="property-attr " itemprop="additionalProperty" itemscope=""
              itemtype="http://schema.org/PropertyValue">
              <div class="label-block" itemprop="name">Price</div>
              <div class="value-block" itemprop="value">464,100 - 707,000</div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="property-attr text-light-muted" itemprop="additionalProperty" itemscope=""
              itemtype="http://schema.org/PropertyValue">
              <div class="label-block" itemprop="name">PSF</div>
              <div class="value-block" itemprop="value">N/A</div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="property-attr " itemprop="additionalProperty" itemscope=""
              itemtype="http://schema.org/PropertyValue">
              <div class="label-block" itemprop="name">Listed on</div>
              <div class="value-block" itemprop="value">21 November 2019</div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="property-attr " itemprop="additionalProperty" itemscope=""
              itemtype="http://schema.org/PropertyValue">
              <div class="label-block" itemprop="name">Completion Year</div>
              <div class="value-block" itemprop="value">2021</div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="property-attr " itemprop="additionalProperty" itemscope=""
              itemtype="http://schema.org/PropertyValue">
              <div class="label-block" itemprop="name">Size</div>
              <div class="value-block" itemprop="value">1754 sq.ft</div>
            </div>
          </div>
        </div>
      </div>

<br>
      <h3 class="section-title">Description</h3>
      <div class="listing-details-text">
        <span class="project-info-desc">Suria @ The Botany is a double storey terrace homes in Sebana Cove which come
          with a well-planned neighbourhood park that embrances the idea of staying closer to nature.</span>

      </div>
    </div>
    <br>
    <div id="unittypes" class="listing-detail-block">
      <h3 class="section-title">Unit Types</h3>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>Built-Up (Sq.ft.)</th>
              <th>Starting Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Type">Suria 2A – 4 beds &amp; 3 baths</td>
              <td data-title="Built-Up (Start From)">1754.00</td>
              <td data-title="Starting Price">
                464,100

              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </section>
  <br>
  <section>
    <ion-slides pager="true" [options]="slideOpts1">
      <ion-slide>
         <img src="https://sg1-cdn.pgimgs.com/developer-listing/4307058/OUFLO.111251900.V800/Suria-2-The-Botany-Kota-Tinggi-Malaysia.jpg">
      </ion-slide>
      <ion-slide>
        <img src="https://sg1-cdn.pgimgs.com/developer-listing/4307058/OUFLO.111251908.V800/Suria-2-The-Botany-Kota-Tinggi-Malaysia.jpg">
      </ion-slide>
    </ion-slides>
  </section>
  <br>
  <section class="ion-padding">
      <h3 class="title-block">Facilities & Amenities</h3>
      <ion-segment [(ngModel)]="segment" swipe-gesture="true">

        <ion-segment-button value="features" color="success" >
          Key Features
        </ion-segment-button>
        <ion-segment-button value="facility" color="success">
          Facilities
        </ion-segment-button>
        </ion-segment>


      <div [ngSwitch]="segment">
        <div *ngSwitchCase="'features'">
          <ul>
            <li itemprop="amenityFeature"><ion-icon name="star-outline"></ion-icon>
                <span itemprop="name">More rooms to occupy</span>
                <meta itemprop="value" content="True">
            </li>
            <li itemprop="amenityFeature"><ion-icon name="star-outline"></ion-icon>
                <span itemprop="name">5ft backyard for flexi idea</span>
                <meta itemprop="value" content="True">
            </li>
            <li itemprop="amenityFeature" ><ion-icon name="star-outline"></ion-icon>
                <span itemprop="name">Wider kitchen</span>
                <meta itemprop="value" content="True">
            </li>
            </ul>
        </div>
        <div *ngSwitchCase="'facility'">
          <ul>
            <li itemprop="amenityFeature" ><ion-icon name="checkmark-outline"></ion-icon>
                <span itemprop="name">Jogging Path</span>
                <meta itemprop="value" content="True">
            </li>
            <li itemprop="amenityFeature" ><ion-icon name="checkmark-outline"></ion-icon>
                <span itemprop="name">Flowering Dome</span>
                <meta itemprop="value" content="True">
            </li>
            <li itemprop="amenityFeature" ><ion-icon name="checkmark-outline"></ion-icon>
                <span itemprop="name">Viewing Deck</span>
                <meta itemprop="value" content="True">
            </li>
            <li itemprop="amenityFeature" ><ion-icon name="checkmark-outline"></ion-icon>
                <span itemprop="name">Planting Maze</span>
                <meta itemprop="value" content="True">
            </li>
            <li itemprop="amenityFeature" ><ion-icon name="checkmark-outline"></ion-icon>
                <span itemprop="name">Earth Mound Side</span>
                <meta itemprop="value" content="True">
            </li>
            <li itemprop="amenityFeature" ><ion-icon name="checkmark-outline"></ion-icon>
                <span itemprop="name">Children Playground</span>
                <meta itemprop="value" content="True">
            </li>
            <li itemprop="amenityFeature" ><ion-icon name="checkmark-outline"></ion-icon>
                <span itemprop="name">Sand Pit</span>
                <meta itemprop="value" content="True">
            </li>
            <li itemprop="amenityFeature" ><ion-icon name="checkmark-outline"></ion-icon>
                <span itemprop="name">Green Lawn</span>
                <meta itemprop="value" content="True">
            </li>
            <li itemprop="amenityFeature" ><ion-icon name="checkmark-outline"></ion-icon>
                <span itemprop="name">Sunflower Square</span>
                <meta itemprop="value" content="True">
            </li>
            <li itemprop="amenityFeature" ><ion-icon name="checkmark-outline"></ion-icon>
                <span itemprop="name">Basketball Half Court</span>
                <meta itemprop="value" content="True">
            </li>
            <li itemprop="amenityFeature" ><ion-icon name="checkmark-outline"></ion-icon>
                <span itemprop="name">Outdoor Gym</span>
                <meta itemprop="value" content="True">
            </li>
            <li itemprop="amenityFeature" ><ion-icon name="checkmark-outline"></ion-icon>
                <span itemprop="name">Reflexology Walkway</span>
                <meta itemprop="value" content="True">
            </li>
            </ul>        </div>
      </div>
  </section>
  <br>
  <section class="ion-padding">
    <iframe *ngIf="pdfLink" [src]="pdfLink" width="100%" height="100%" frameborder="0" ></iframe>
<br>
    <p>
      <strong>Legal Disclaimer:</strong>
      The information contained in this website is subject to change and cannot form part of an offer or contract. All renderings are artist’s impression only. All measurements are approximate. While every reasonable care has been taken in preparing this website, the developer &amp; PropertyGuru International cannot be held responsible for any inaccuracy. All the items are subject to variations, modifications and substitutions as may be required by the Authorities or recommended by the Architect or Engineer.
      
  </p>
  </section>
  <!-- nil
  nil
   nil nil nil
   nil
   nil
   nil
   nil
   nil

    nil nil
    nil
    nil
    nil -->

</ion-content>