<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="position: absolute;">
      <ion-button (click)="goBack()" style="color: black;">
        <ion-icon name="chevron-back-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Lot Booking</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
<ion-card class="card1">
  <h4> Property Information</h4>
  <ion-row>
    <ion-col class="col1" >
      <ion-text>Developer Name</ion-text>


    </ion-col>
    <ion-col class="col1"  *ngIf="devname">
      <ion-label>{{devname}}</ion-label>
 
    </ion-col>
  </ion-row>

</ion-card>

<!-- <div *ngIf=blocks>


<h3 class="ion-padding" >{{blocks.block_name}}</h3>

 
</div> -->

<div  *ngFor="let data of blocks">
 <div>
    <h3 class="ion-padding" >{{data.block_name}}</h3> 
   </div>

  <section class="sec1" *ngFor="let datas of data.lot;" >
    
    <div class="corner " *ngFor="let lot of datas"  [ngClass]="{ lot: lot.lot_type ==='CL', red: lot.status === '1', yellow: lot.status === '2',blue: lot.status === '3', pink: lot.status === '4', gray:lot.status === '5' ,way:lot.way ==='1'   }" >
    
      <span *ngIf ="lot.status == 1" (click)="LotBooking1(lot.id)" >
      <ion-text >{{lot.lot_number}}</ion-text> 
     </span>

     <span *ngIf ="lot.status ==2" (click)="LotBooking2(lot.customer_id)">
      <ion-text >{{lot.lot_number}}</ion-text> 
     </span>

     <span *ngIf ="lot.status ==3" (click)="LotBooking3(lot.customer_id)">
      <ion-text >{{lot.lot_number}}</ion-text> 
     </span>
     
     <span *ngIf ="lot.status ==4" (click)="LotBooking4(lot.customer_id)">
      <ion-text >{{lot.lot_number}}</ion-text> 
     </span>
    
    </div>



    <!-- <div *ngFor =" let data of blocks.lot">
     <div  *ngIf ="data.status == 1">
       <ion-text>{{data.lot_number}}</ion-text>
     </div>
    </div> -->

  </section>


  
</div>



<!-- <div class="ion-padding"  *ngFor="let lot of blocks">
    <h3>{{lot.block_name}}</h3>
    <ion-row class="sec1" >
      <ion-col class="corner" size="1" *ngFor="let data of lot.lot"  [ngClass]="{ lot:data.lot_type ==='CL', red: data.status === '1', yellow: data.status === '2',blue: data.status === '3', green: data.status === '4',gray:data.status === '5' ,way: data.way ==='1', break: data.break ==='1' }" >
        <div *ngIf ="data.status == 1" (click)="LotBooking1(data.id)" >
        <ion-text >{{data.lot_number}}</ion-text> 
       </div>
       <div *ngIf ="data.status ==2" (click)="LotBooking2(data.customer_id)">
        <ion-text >{{data.lot_number}}</ion-text> 
       </div>
       <div *ngIf ="data.status ==3" (click)="LotBooking3(data.customer_id)">
        <ion-text >{{data.lot_number}}</ion-text> 
       </div>
       <div *ngIf ="data.status ==4" (click)="LotBooking4(data.customer_id)">
        <ion-text >{{data.lot_number}}</ion-text> 
       </div>
       
        </ion-col> 
    </ion-row>
  </div> -->
 


<br>



<!-- <table   style="display: flex;overflow-x: auto;" *ngFor="let data of blocks" >
<div>
  <h3 class="ion-padding" >{{data.block_name}}</h3>

<tr>

<td  *ngFor="let lot of data.lot" [ngClass]="{ red: lot.status === '1', yellow: lot.status === '2',blue: lot.status === '3', green: lot.status === '4',gray:lot.status === '5' ,way:lot.way ==='1'  , break: lot.break === '1'}">
  <div  *ngIf ="lot.status == 1" (click)="LotBooking1(lot.id)" >
    <ion-text >{{lot.lot_number}}</ion-text> 
   </div>
   <div *ngIf ="lot.status ==2" (click)="LotBooking2(lot.customer_id)">
    <ion-text >{{lot.lot_number}}</ion-text> 
   </div>
   <div *ngIf ="lot.status ==3" (click)="LotBooking3(lot.customer_id)">
    <ion-text >{{lot.lot_number}}</ion-text> 
   </div>
   <div *ngIf ="lot.status ==4" (click)="LotBooking4(lot.customer_id)">
    <ion-text >{{lot.lot_number}}</ion-text> 
   </div>
</td>


</tr >
</div>

</table>  -->

<br>
<br>


<!-- <tr>
  <td style="font-size:11px">PTD999999</td>
  
 
  </tr> -->
<!-- <ion-row>
  <ion-col size="2">
   Demo
  </ion-col>
  <ion-col size="2">
    Demo
  </ion-col>
  <ion-col size="2">
    Demo
  </ion-col>
  <ion-col size="2">
    Demo
  </ion-col>

  <ion-col size="2">
    Demo
  </ion-col>
  <ion-col size="2">
    Demo
  </ion-col>
  <ion-col size="2">
    Demo
  </ion-col>
</ion-row> -->

    <!-- <p>PTD1001</p>
      <p>PTD1001</p>
    
  
      <p>PTD1001</p>
      <p>PTD1001</p>
    

      <p>PTD1001</p>
      <p>PTD1001</p>
    

      <p>PTD1001</p>
      <p>PTD1001</p> -->

    <!-- <p  class="corner">PTD1001</p> -->
  <!-- <div style="margin-right: 12px;">
    
  </div> -->
  <!-- <div>  
    <p>PTD1001</p>
    <p>PTD1001</p>
  

    <p>PTD1001</p>
    <p>PTD1001</p>
  

    <p>PTD1001</p>
    <p>PTD1001</p>
  
 
    <p>PTD1001</p>
    <p>PTD1001</p>
  
 
    <p>PTD1001</p>
    <p>PTD1001</p>
  
  </div> -->
  <!-- <div style="margin-right: 12px;">
    
  </div>
  <div>
    <p>PTD1001</p>
    <p>PTD1001</p>
  

    <p>PTD1001</p>
    <p>PTD1001</p>
  

    <p>PTD1001</p>
    <p>PTD1001</p>
  

    <p>PTD1001</p>
    <p>PTD1001</p>
  

    <p>PTD1001</p>
    <p>PTD1001</p>
  

    <p class="corner">PTD1001</p>
    <p class="corner">PTD1001</p>
  
  </div> -->







 <!-- <section class="card2">
  <ion-row class="row1" >

    <ion-col size="2"  *ngFor="let lot of lots"  [ngClass]="{ red: lot.status === '1', yellow: lot.status === '2',blue: lot.status === '3', green: lot.status === '4' }" >
    <div *ngIf ="lot.status == 1" (click)="LotBooking1(lot.id)" >
    <ion-text >{{lot.lot_number}}</ion-text> 
   </div>
   <div *ngIf ="lot.status ==2" (click)="LotBooking2(lot.customer_id)">
    <ion-text >{{lot.lot_number}}</ion-text> 
   </div>
   <div *ngIf ="lot.status ==3" (click)="LotBooking3(lot.customer_id)">
    <ion-text >{{lot.lot_number}}</ion-text> 
   </div>
   <div *ngIf ="lot.status ==4" (click)="LotBooking4(lot.customer_id)">
    <ion-text >{{lot.lot_number}}</ion-text> 
   </div>
   
    </ion-col> 
    </ion-row>
  </section>  -->

<!-- <div class="pagination">
  <a  href="#">&laquo;</a>
  <a class="active"  href="#">1</a>
  <a href="#">2</a>
  <a href="#">3</a>

  <a href="#">&raquo;</a>
</div> -->

</ion-content>
