<!-- <ion-header>
   <ion-toolbar>
<div class="header">
    <ion-thumbnail slot="start">
        <img src="assets/img/system-user.png">
      </ion-thumbnail>
      <ion-label>
        <h3>Anne Lynch</h3>
        <p>Acme Corporation</p>

      </ion-label>
      <ion-buttons slot="start">
        <ion-button >
          <ion-icon name="close-outline" style="float: right;" slot="end"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-row>
      <ion-col size="col-4">
        <p>Title </p>
        <strong>Phone Call</strong>

      </ion-col>
      <ion-col size="col-4">
        <p>Companies</p>
        <strong>Claimpett Corp</strong>

      </ion-col>
      <ion-col size="col-4">
        <p>Phone</p>
        <strong>9989728247</strong>

      </ion-col>
    
    </ion-row>
  </ion-card>
<section class="sec1">
 <strong>Pipeline:Deal Pieline</strong> 
 <strong>Deal State:Closed won</strong> 

</section>
<section style="padding: 11px;">
  <div class="pipeline-small flat">
    <a class="won noselect tipped-top planning" data-toggle="tooltip" data-placement="top" title="Prospecting" data-original-title="stage: Prospecting">
      <span class="stretched-link" data-toggle="modal" data-target="#deal-details">Prospecting</span>
    </a>
    <a class="won noselect tipped-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="stage: Qualification">
      <span class="stretched-link" data-toggle="modal" data-target="#deal-details">Qualification</span>
    </a>
    <a class="won noselect tipped-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="stage: Needs Analysis">
      <span class="stretched-link" data-toggle="modal" data-target="#deal-details">Analysis</span>
    </a>
    <a class="won noselect tipped-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="stage: Proposal">
      <span class="stretched-link" data-toggle="modal" data-target="#deal-details">Proposal</span>
    </a>
    <a class="won noselect tipped-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="stage: Negotiation">
      <span class="stretched-link" data-toggle="modal" data-target="#deal-details">Negotate</span>
    </a>
    <a class="won noselect tipped-top planning" data-toggle="tooltip" data-placement="top" title="" data-original-title="stage: Closed Won">
      <span class="stretched-link" data-toggle="modal" data-target="#deal-details">CloseWin</span>
    </a>
    <a class="won noselect tipped-top planning" data-toggle="tooltip" data-placement="top" title="" data-original-title="stage: Closed Won">
      <span class="stretched-link" data-toggle="modal" data-target="#deal-details"></span>
    </a>
  </div>
</section>

<ion-segment value="all" mode="md" color="primary" [(ngModel)]="segments">

  <ion-segment-button class="segment1" value="detail">
    Detail
  </ion-segment-button>
  <ion-segment-button value="related">
    Related
  </ion-segment-button>


</ion-segment>

<div [ngSwitch]="segments" class="ion-padding">
  <ion-list *ngSwitchCase="'detail'">

    <ion-item>
      <ion-label>Lead Information</ion-label>
      <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Additional Information</ion-label>
      <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Address Information</ion-label>
      <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Description Information</ion-label>
      <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Tag Information</ion-label>
      <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Lead Conversion Information</ion-label>
      <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
    </ion-item>

  </ion-list>

  <ion-row *ngSwitchCase="'related'">
    <ion-col size="4" class="col3">
      <p>Companies</p>
      2
     </ion-col>
     <ion-col size="4" class="col4">
      <p>Deals</p>
      2
     </ion-col>
      <ion-col size="4" class="col5">
      <p>Projects</p>
      2
     </ion-col>
     <ion-col size="4" class="col6">
      <p>Contats</p>
      2
     </ion-col>
     <ion-col size="4" class="col7">
      <p>Notes</p>
      2
     </ion-col>
      <ion-col size="4" class="col8">
      <p>Files</p>
      2
     </ion-col>
  </ion-row>
 
</div>

</ion-content> -->