


  <ion-toolbar>
    <ion-buttons slot="start" style="position: absolute;">
      <ion-button (click)="goBack()">
        <ion-icon  mode="ios" name="arrow-back" style="color: black !important;"></ion-icon>
      </ion-button>
    </ion-buttons>         
  </ion-toolbar>

<ion-content class="ion-padding">
	<br><br><br>
	<div class="headCss">
	<h4>Forgot Password</h4>
	</div>
<div class="loginCss">
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

<ion-item>
	<ion-label position="floating" style="color: #d85ca7;"><ion-icon name="mail"></ion-icon> Email</ion-label>
	<ion-input formControlName="email"></ion-input>
</ion-item>

<!-- <small><ion-router-link color="medium" href="/forgotpassword">Forgot Password?</ion-router-link></small> -->

<!-- <ion-item>
	<ion-label position="floating" style="color: #d85ca7;"><ion-icon name="mail"></ion-icon> Email</ion-label>
	<ion-input formControlName="password"></ion-input>
</ion-item> -->

<br>
<ion-button expand="block"  type="submit" >Submit</ion-button>
</form>
</div>

<br>
</ion-content>
