.headCss {
	text-align:center;
}
.loginCss {
	margin-top:30px;
}
ion-item  {
    margin-top: 8px;
    background: aliceblue;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 0px #35cddc;
}
ion-label {
        color: #cd5bb7;
}
small {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 14px;
    color: darkgray;
}
ion-toolbar {
    --background: #f7f7f7;
}
ion-button {
	height:40px;
    color: white;
    --background: linear-gradient(to right, #9a55ff 0%, #fc6075 100%);
    font-family: revert;
    font-weight: 700;
}
h3 {
    font-size: 22px;
    font-weight: 600;
     margin-top: 16px;
    margin-bottom: auto;
}
p {
	 margin-top: 7px;
    font-family: sans-serif;
    font-size: 16px
}
.paraCss {
    font-family: sans-serif !important;
    text-align: center;
}
h4 {
    font-weight: 600;
}
ion-icon {
    margin-bottom: -2px;
}