<ion-header >
  <ion-toolbar>
    <ion-title>Upload Property Details
    </ion-title>
    <ion-icon name="close-circle" slot="end" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-label position="floating">Place Name</ion-label>
  
        <ion-item>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col  size="6">
        <ion-label position="floating">Schedule</ion-label>
  
        <ion-item>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col  size="6">
        <ion-label position="floating">House Type</ion-label>
  
        <ion-item>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col  size="6">
        <ion-label position="floating">Type of Lot</ion-label>
  
        <ion-item>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col  size="6">
        <ion-label position="floating">Direction</ion-label>
        <ion-item>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col  size="6">
        <ion-label position="floating">House Status</ion-label>
        <ion-item>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col  size="6">
        <ion-label position="floating">Location</ion-label>
        <ion-item>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col  size="6">
        <ion-label position="floating">Size</ion-label>
        <ion-item>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col  size="6">
        <ion-label position="floating">Land Area</ion-label>
        <ion-item>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col  size="6">
        <ion-label position="floating">Buildup Area</ion-label>
        <ion-item>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col  size="6">
        <ion-label position="floating">Total Unit</ion-label>
        <ion-item>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col  size="6">
        <ion-label position="floating">Lot Number</ion-label>
        <ion-item>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col  size="6">
        <ion-label position="floating">Corner Lot</ion-label>
        <ion-item>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col  size="6">
        <ion-label position="floating">End Lot</ion-label>
        <ion-item>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col  size="6">
        <ion-label position="floating">Odd Lot</ion-label>
        <ion-item>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col  size="6">
        <ion-label position="floating">Project Size</ion-label>
        <ion-item>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col  size="6">
        <ion-label position="floating">Starting Date</ion-label>
        <ion-item>
          <ion-datetime displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col  size="6">
        <ion-label position="floating">Ending Date</ion-label>
        <ion-item>
          <ion-datetime displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col  size="6">
        <ion-label position="floating">Panel/Lawyer</ion-label>
        <ion-item>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col  size="6">
        <ion-label position="floating">Date/Time Stamp</ion-label>
        <ion-item>
          <ion-datetime displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
        </ion-item>
      </ion-col>
      </ion-row>
    <ion-button expand="block" mode="ios" type="submit">Submit</ion-button>
  
  </ion-grid>
</ion-content>
