ion-icon {
    font-size: 23px;
    margin-right: 13px;
}
ion-item  {
      
    margin-top: 8px;
    background: aliceblue;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 0px #b7f3f9;
    
}
ion-label {
        color: #cd5bb7;
        margin-top: 2px !important;
        margin-bottom: auto !important;
}

ion-content {
--background: #f7f7f7;
}
b {
    font-size: 16px;
    margin-left: 9px;
}
h4 {
    font-weight: 600;
    font-size: 18px;
    margin-left: 10px;
}