// .card1 {

//     width: 70px;
//     height: 70px;
//     background: mediumseagreen;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: white;
// }
// .card2 {

//     width: 70px;
//     height: 70px;
//     background: greenyellow;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: white;
// }
// .card3 {

//     width: 70px;
//     height: 70px;
//     background: orangered;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: white;
// }
// .card4 {

//     width: 70px;
//     height: 70px;
//     background: palevioletred;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: white;
// }
// ion-col {
//     display: inherit;
// }
// strong {
//     font-size: 10px;
// }
// ion-row {
//     display: flex;
//     justify-content: center;
// }
// h4 {
//     font-size: 16px;
//     font-weight: 600;
//     margin-left: 12px;
// }
// table, th, td {
//     border: 1px solid lightgray;
//     border-collapse: collapse;
//   }
//   th, td {
//     padding: 8px;
//     text-align: center;
//   }
//   th {
//     text-align: center;
//     color: black;
//   }
//   h3 {
//     padding: 7px;
//     font-size: 16px;
//     font-family: system-ui;
//     margin-top: 6px;
//     margin-bottom: 0px;
//     font-weight: 500;
//     line-height: 1.2;
//     margin-left: 7px;
//   }

img {
    height: 23pc;
    width: fit-content;

}
section {
    padding: 8px;
}