<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="position: absolute;">
      <ion-button (click)="goBack()">
        <ion-icon mode="ios" name="arrow-back" style="color: black;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Property Plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <h3>
    Check your plans
  </h3>
<ion-row>
  <ion-col size="3">
<ion-card class="card1" (click)="gotoPage('/plandetails')">
<strong>Availale</strong>
</ion-card>
  </ion-col>
  <ion-col size="3">
<ion-card class="card2" >
  <strong>Sold</strong> 
</ion-card>
  </ion-col>
  <ion-col size="3">
    <ion-card class="card3" >
      <strong>Unavailale</strong>
    </ion-card>
  </ion-col>
  <ion-col size="3">
    <ion-card  class="card4">
      <strong>Availale</strong>
   </ion-card>
  </ion-col>
</ion-row> -->
<!-- <h3 >Plan Details</h3>
<ion-card style="overflow-x:auto;">

 
<table>
  <tr>
    <th>User Id</th>
    <th>Name</th>
    <th>Mobile</th>
    <th>Property</th>
    <th>Status</th>
  </tr>
  <tr>
      <td>ID454554</td>
      <td>Chrlie</td>
      <td>6878989</td>
      <td>Nil</td>
      <td style="color: green;">Active</td>
  </tr>
  <tr>
    <td>ID436656</td>
    <td>Kevin</td>
    <td>9909098</td>
    <td>Nil</td>
    <td style="color: red;">Inactive</td>
</tr>
<tr>
  <td>ID438943</td>
  <td>John Doe</td>
  <td>84584538</td>
  <td>Nil</td>
  <td style="color: green;">Active</td>
</tr>

</table>


</ion-card> -->
<section>
  <!-- <pinch-zoom>
    <img  src="assets/img/plan1.jpg" /> 
</pinch-zoom> -->
  <!-- <img src="assets/img/plan1.jpg"> -->
  <ion-button expand="block">Click to Download<ion-icon name="download-outline"></ion-icon></ion-button>
</section>
</ion-content>
