<ion-header >
  <ion-toolbar>
    <ion-title>Add New Customer </ion-title>
    <ion-icon name="close-circle" slot="end" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-label position="floating">First Name</ion-label>

      <ion-item>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
    <ion-col  size="6">
      <ion-label position="floating">Last Name</ion-label>

      <ion-item>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
    <ion-col  size="6">
      <ion-label position="floating">Email</ion-label>

      <ion-item>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
    <ion-col  size="6">
      <ion-label position="floating">Gender</ion-label>

      <ion-item>
        <ion-select placeholder="Select One">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>      </ion-item>
    </ion-col>
    <ion-col  size="6">
      <ion-label position="floating">Phone Number</ion-label>
      <ion-item>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
    <ion-col  size="6">
      <ion-label position="floating">Company Name</ion-label>
      <ion-item>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
    <ion-col  size="6">
      <ion-label position="floating">Range Salary</ion-label>
      <ion-item>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
    <ion-col  size="6">
      <ion-label position="floating">Education</ion-label>
      <ion-item>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
    <ion-col  size="6">
      <ion-label position="floating">Property Prefferred</ion-label>
      <ion-item>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
    <ion-col  size="6">
      <ion-label position="floating">Price Range</ion-label>
      <ion-item>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
    <ion-col  size="6">
      <ion-label position="floating">Country</ion-label>
      <ion-item>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
    <ion-col  size="6">
      <ion-label position="floating">Passport</ion-label>
      <ion-item>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
    <ion-col  size="6">
      <ion-label position="floating">Nationality</ion-label>
      <ion-item>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
    <ion-col  size="6">
      <ion-label position="floating">References</ion-label>
      <ion-item>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
    </ion-row>
  <ion-button expand="block" mode="ios" type="submit">Submit</ion-button>

</ion-grid>
</ion-content>
