<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="position: absolute;">
      <ion-button (click)="goBack()">
        <ion-icon mode="ios" name="arrow-back" style="color: black;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Site Plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
  <section class="sec1">
    <b>NW</b>
 <div class="divClass1"> 
  <small class="para1">PTD 11902</small>
  <small class="para1">PTD 11903</small>
  <small class="para1">PTD 11904</small>
  <small class="para1">PTD 11905</small>
  <small class="para1" style="margin-left: 25px;">PTD 11906</small>
  <small class="para1">PTD 11907</small>
  <small class="para1">PTD 11908</small>
  <small class="para1">PTD 11909</small>
  <small class="para1" style="margin-left: 25px;">PTD 11910 </small>

</div>
<div class="divClass1">
  <small class="para1">PTD 11911 </small>
  <small class="para1">PTD 11912 </small>
  <small class="para1">PTD 11913 </small>
  <small class="para1">PTD 11914 </small>


</div>
</section>

<section class="sec2">
  <b>SE</b>
<div class="divClass1"> 
<small class="para1">PTD 11925</small>
<small class="para1">PTD 11924</small>
<small class="para1">PTD 11923</small>
<small class="para1">PTD 11922</small>
<small class="para1" style="margin-left: 25px;">PTD 11906</small>
<small class="para1">PTD 11921</small>
<small class="para1">PTD 11920</small>
<small class="para1">PTD 11919</small>
<small class="para1" style="margin-left: 25px;">PTD 11910 </small>

</div>
<div class="divClass1">
<small class="para1">PTD 11918 </small>
<small class="para1">PTD 11917 </small>
<small class="para1">PTD 11916 </small>
<small class="para1">PTD 11915 </small>


</div>
</section>

<section class="sec3">
  <b>NW</b>
<div class="divClass1"> 
<small class="para1">PTD 11997</small>
<small class="para1">PTD 11998</small>
<small class="para1">PTD 11999</small>
<small class="para1">PTD 12001</small>
<small class="para1" style="margin-left: 25px;">PTD 11906</small>
<small class="para1">PTD 12002</small>
<small class="para1">PTD 12003</small>
<small class="para1">PTD 12004</small>
<small class="para1" style="margin-left: 25px;">PTD 11910 </small>

</div>
<div class="divClass1">
<small class="para1">PTD 12005 </small>
<small class="para1">PTD 12006 </small>
<small class="para1">PTD 12007 </small>
<small class="para1">PTD 12008 </small>
</div>
</section>

<section class="sec4">
  <b>SE</b>
<div class="divClass1"> 
<small class="para1">PTD 12019</small>
<small class="para1">PTD 12018</small>
<small class="para1">PTD 11917</small>
<small class="para1">PTD 12016</small>
<small class="para1" style="margin-left: 25px;">PTD 11906</small>
<small class="para1">PTD 12015</small>
<small class="para1">PTD 12014</small>
<small class="para1">PTD 12013</small>
<small class="para1" style="margin-left: 25px;">PTD 11910 </small>

</div>
<div class="divClass1">
<small class="para1">PTD 12012 </small>
<small class="para1">PTD 12011 </small>
<small class="para1">PTD 12010 </small>
<small class="para1">PTD 12009 </small>
</div>
</section>

<section class="sec5">
  <b>NW</b>
<div class="divClass1"> 
<small class="para1">PTD 11997</small>
<small class="para1">PTD 11998</small>
<small class="para1">PTD 11999</small>
<small class="para1">PTD 12001</small>
<small class="para1" style="margin-left: 25px;">PTD 11906</small>
<small class="para1">PTD 12002</small>
<small class="para1">PTD 12003</small>
<small class="para1">PTD 12004</small>
<small class="para1" style="margin-left: 25px;">PTD 11910 </small>

</div>
<div class="divClass1">
<small class="para1">PTD 12005 </small>
<small class="para1">PTD 12006 </small>
<small class="para1">PTD 12007 </small>
<small class="para1">PTD 12008 </small>
</div>
</section>

<section class="sec6">
  <b>SE</b>
<div class="divClass1"> 
<small class="para1">PTD 12019</small>
<small class="para1">PTD 12018</small>
<small class="para1">PTD 11917</small>
<small class="para1">PTD 12016</small>
<small class="para1" style="margin-left: 25px;">PTD 11906</small>
<small class="para1">PTD 12015</small>
<small class="para1">PTD 12014</small>
<small class="para1">PTD 12013</small>
<small class="para1" style="margin-left: 25px;">PTD 11910 </small>

</div>
<div class="divClass1">
<small class="para1">PTD 12012 </small>
<small class="para1">PTD 12011 </small>
<small class="para1">PTD 12010 </small>
<small class="para1">PTD 12009 </small>
</div>
</section>



  <!-- <h4>Choose Unit plans</h4>
  <ion-row>
    <ion-col size="4" (click)="gotoPage('/planview')">
      <ion-card class="card1">
<b>Unit Plan 1</b>
      </ion-card>
    </ion-col>
    <ion-col size="4" (click)="gotoPage('/planview')">
      <ion-card class="card2">
        <b>Unit Plan 2</b>
      </ion-card>
    </ion-col>
    <ion-col size="4" (click)="gotoPage('/planview')">
      <ion-card class="card3">
        <b>Unit Plan 2</b>
      </ion-card>
    </ion-col>
  </ion-row>

  <h3 >Plan Details</h3>
  <ion-card style="overflow-x:auto;">
  
   
  <table>
    <tr>
      <th>User Id</th>
      <th>Name</th>
      <th>Mobile</th>
      <th>Property</th>
      <th>Status</th>
    </tr>
    <tr>
        <td>ID454554</td>
        <td>Chrlie</td>
        <td>6878989</td>
        <td>Nil</td>
        <td style="color: green;" (click)="gotoPage('/planview')">Active</td>
    </tr>
    <tr>
      <td>ID436656</td>
      <td>Kevin</td>
      <td>9909098</td>
      <td>Nil</td>
      <td style="color: red;" (click)="gotoPage('/planview')">Inactive</td>
  </tr>
  <tr>
    <td>ID438943</td>
    <td>John Doe</td>
    <td>84584538</td>
    <td>Nil</td>
    <td style="color: green;" (click)="gotoPage('/planview')">Active</td>
  </tr>
  
  </table>
  
  
  </ion-card> -->


</ion-content>
<ion-footer>
  <ion-button expand="full" (click)="gotoPage('/planview')">View</ion-button>
</ion-footer>