<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="position: absolute;">
      <ion-button (click)="goBack()">
        <ion-icon mode="ios" name="arrow-back" style="color: black;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Property Plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
<section>
  <!-- <pinch-zoom>
    <img  src="assets/img/plan1.jpg" /> 
  </pinch-zoom> -->
 
  <!-- <pinch-zoom>
  <img src="assets/img/plan.jpg" >
 
  </pinch-zoom> -->
 </section>
<ion-button expand="block">Click to Download<ion-icon name="download-outline"></ion-icon></ion-button>

</ion-content>

