<!-- 

<ion-content class="ion-padding">
	<div class="headCss">
	<h3>Register</h3>
	<p>Access to our dashboard</p>
	</div>
<div class="loginCss">
<ion-item>
	<ion-label position="floating" style="color: #d85ca7;font-size: 18px;"><ion-icon name="mail"></ion-icon> User Name</ion-label>
	<ion-input></ion-input>
</ion-item>
<ion-item>
	<ion-label position="floating" style="color: #d85ca7;font-size: 18px;"><ion-icon name="eye-off"></ion-icon>  Password</ion-label>
	<ion-input></ion-input>
</ion-item>
<ion-item>
	<ion-label position="floating" style="color: #d85ca7;font-size: 18px;"><ion-icon name="eye-off"></ion-icon> Conform Password</ion-label>
	<ion-input></ion-input>
</ion-item>
<br>
<ion-button expand="block" (click)="gotohome()">Register</ion-button>
</div>
<br>
<p class="paraCss">Already have an account ? <ion-router-link href="/login">login</ion-router-link></p>
</ion-content> -->
