.card1 {
    // width: 94px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fe9996;
    color: white;
    margin-top: 6px;
    margin-bottom: auto;
}
.card2{
    // width: 94px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4aa4ed;
    color: white;
    margin-top: 6px;
    margin-bottom: auto;
}
.card3 {
    margin-top: 6px;
    margin-bottom: auto;
    background: #3ed2be;
    color: white;
    // width: 94px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}