h3 {
    font-weight: 700;
    font-size: 20px;
}
ion-icon {
    float: right;
}
.card1 {
    background: linear-gradient(120deg , #84fab0 0%, #8fd3f4 100%) !important;
    padding: 10px;
    margin-bottom: auto;
    margin-top: 6px;
}
h4 {
    font-size: 20px;
    color: #FFF;
    text-align: center;
    font-weight: 600;

}
p {
    font-size: 16px;
}
ion-card {
    margin-bottom: auto;
    margin-top: 8px;
}